:host {
  display: flex;
  align-items: center;

  form {
    display: flex;
    align-items: center;

    input[type="submit"],
    button {
      border: none;
      background: #2F80ED;
      box-shadow: 2px 0 4px #2F80ED;
      height: 24px;
      cursor: pointer;

      &:hover {
        background: #5EA2FF;
        box-shadow: none;
      }
    }

    input[type="submit"] {
      padding: 0 22px;
      border-radius: 0 5px 5px 0;
      color: #FFF;
    }

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      margin-left: 10px;
      width: 24px;
    }

    input[type=text] {
      height: 24px;
      width: 400px;

      &:focus {
        border: 1px solid #2F80ED;
      }
    }
  }
}

